@CHARSET "UTF-8";

#classification #radio,#classification #buttons {
    float: none;
}

#classification #radio {
    margin-left: 13px;
}

#classification #buttons {
    margin-left: 253px;
}

#classification #radio .ui-button {
    width: 130px;
}